body {
	background-image: url('belt.jpg');
	background-repeat: no-repeat;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
div.page {
	margin-right: auto;
	margin-left: 250px;
	margin-top: 150px;
	width: 60%;
}
div.content {
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: #EFEFEF;
	border-style: solid;
	padding: 10px;
}
div.event {
	padding: 10px;
	background-color: #EFEFEF;
}
img.logo {
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
